@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    background-image: url("/backgrounds/3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#middlesection {
    margin: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 25em;
    max-width: 80%;
    justify-content: space-between
}

ion-icon {
    font-size: 1.5em;
    margin: 0% .5em;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 4px solid #000;
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: 10px 10px 0px #000;
}

.modal p:not(.modal-content) {
    margin: 0;
}

.modal-content {
    margin-bottom: 2em;
}

a:not(.link) {
    display: inline-block;
    color: rgb(158, 13, 13);
    text-decoration: none;
    margin: .3em 0 0 0;
}

a:not(.link):hover {
    color: #fff;
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: #000;
    height: calc(100%/15);
    border-radius: 1.5em;
    box-shadow: 0 .3em 0px #000;
    border: solid 3px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 2.5em;
    min-width: 15em;
}

.link:hover {
    letter-spacing: .2em;
    color: #fff;
    background-color: #000;
    box-shadow: 0px 0px 0px #000;
}

.link .legendahover,
.link:hover .legenda {
    display: none;
}

.link:hover .legendahover,
.link .legenda {
    display: block;
}

.preto {
    background-color: #fff;
}

.red {
    background-color: #FF544F;
}

.orange {
    background-color: #FF8E1E;
}

.yellow {
    background-color: #FFF759;
}

.yellowgreen {
    background-color: #D9FF4C;
}

.green {
    background-color: #5DF641;
}

.green2 {
    background-color: #39FCA4;
}

.greenwater {
    background-color: #39FCDE;
}

.greenblue {
    background-color: #39D3FC;
}

.blue {
    background-color: #5989FF;
}

.purple {
    background-color: #BA57FF;
}

.pink {
    background-color: #F939FF;
}