body { 
  height: 90%;
  color: #f0f;
  font-family: "Consolas";
  background-color: #000;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-position: center;
  background-size: auto 112%;
}

html { 
  height: 100%;
}

.link {
  width: 100%;
  height: 3em;
  border-radius:5px;
  margin: 2px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.438);
}

button {
  cursor: pointer;
  height: 3em;
  width: 100%;
  color: #000;
  background-color: #0000;
  border: none;
  margin: 2px;
  border-radius:5px;
}

button:hover {
   color: #fff;
}

#buttonslist {
  width: 30em;
  max-width: 80%;
}

ion-icon {
  vertical-align: middle;
  font-size: 1.5em;
}
