/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html { 
  min-height: 100%;
}

#body {
  min-height: 90vh;
  display: flex;
  color: #000;
  font-family: "Arial";
  background-color: #000;
  height: 100vz;
}

#bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: auto 112%;
  filter: blur(2px);
}

#middlesection, #rightsection {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  #middlesection {
    width: 30em;
    max-width: 30%;
    height: 80%;
    max-height: 80%;
    margin: auto;
    z-index: 2;
  }
  #rightsection, #leftsection {
    position: fixed;
    top: 10%;
    width: 30%;
    height: 80%;
  }
  #leftsection {
    left: 3%;
  }
  #rightsection {
    right: 3% 
  }
}

@media only screen and (max-width: 600px) {
  body {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  #middlesection, #rightsection, #leftsection {
    width: 30em;
    max-width: 90%;
    height: 80vh;
    max-height: 30%;
    position: flex;
    z-index: 2;
  }
}

#rightsection {
  background-color: #00fa;
}

#leftsession {
  border-radius: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 0px 4px #000;
  font-size: 0.9em;
  width: 100%;
  height: 3em;
  max-height: 8%;
  border-radius:5px;
  margin: 3px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link:hover {
  letter-spacing: .1em;
}

.blackbutton {
  font-size: 0.9em;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: none;
  border-radius:5px;
  font-weight: bold;
}

.blackbutton{
  color: #fff;
  background-color: #000c;
}

.blackbutton:hover{
  background-color: rgb(255, 255, 255);
  color: #000;
}

ion-icon {
  vertical-align: middle;
  font-size: 1.5em;
  margin: 0%;
  margin-right: .2em;
}

.bgbiblia {
  background-color: #000c;
  color: #fff;
  padding: 5%;
  margin-bottom: 10%;
}

.backbt {
  color: #fff;
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 3;
  height: 2em;
  width: 2em;
  font-size: 2em;
  background-color: #0000;
  border: none;
  cursor: pointer;
}

#bolas {
  width: 1024px;
  height: 600px;
}
